Options +FollowSymLinks
RewriteEngine on
RewriteBase /

RewriteRule ^comodidades/ /index.php
RewriteRule ^fotos/ /index.php
RewriteRule ^inicio/ /index.php
RewriteRule ^contacto/ index.php

RewriteRule ^comodidades /index.php
RewriteRule ^fotos /index.php
RewriteRule ^inicio /index.php
RewriteRule ^contacto /index.php
